.HeroImage {
  min-height: 600px;
  padding: 50px 0px;

}

.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.LogoImage {
  width: 300px;
}

.LogoImage img {
  max-width: 100%;
}

.About {
  margin: 50px 0;
  text-align: center
}

h1 {
  color: #D9E021;
}

p {
  margin: 40px 0;
}

a, a:hover, a:focus, a:active {
  color: #fff;
  background: #D9E021;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.5s;

}

a:hover, a:focus {
  background: rgb(179, 184, 32)
}