.HeroImage {
  height: 450px;
  padding: 50px 0px;
  background-size: cover;
}

.Container {
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
}

.LogoImage {
  width: 300px;
}

.LogoImage img {
  max-width: 100%;
}


h1 {
  color: #D9E021;
}

p {
  margin: 40px 0;
}

a, a:hover, a:focus, a:active {
  color: #fff;
  background: #D9E021;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.5s;
  display: block;
  margin-bottom: 20px;

}

a:hover, a:focus {
  background: rgb(179, 184, 32)
}

.About {
  margin: 50px 0;
  overflow: hidden;
  margin-bottom: 100px;
}

.About .Image {
  float: left;
  width: 30%;
  background-color: #D9E021; /* #29abe2; */
  height: 300px;
  text-align: center;
  font-size: 100px;
  color: #fff;
}

.About .Image svg {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.About .Content {
  float: left;
  text-align: left;
  width: 60%;
  padding: 0 5%;
  background-color: #eee;
  min-height: 300px;
}

.About .Content a svg {
  margin-right: 0.5em;
}

.About .Content p {
  margin: 40px 0;
  color: #666;
  font-size: 18px;

}
.About .Content h1 {
  margin: 40px 0;
  color: #D9E021;
  font-size: 32px;
  
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #333;
  color: #666;
  padding: 20px 0;
  font-size: 12px;
}

@media (max-width: 768px) {
  .HeroImage {
    max-height: 400px;
  }
  .About .Image {
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  .About .Content {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 375px) {
  .HeroImage {
    max-height: 200px;
  }
  .LogoImage {
    width: 150px;
  }
  .About .Content h1 {
    font-size: 24px;
  }
}